<app-search-bar (onSearchEvent)="onSearch($event)"></app-search-bar>
<app-loading-bar [loading]="loading"></app-loading-bar>
<div class="row">
  @for (superHero of superHeroes; track superHero.id) {
    <div [routerLink]="['/super-hero', superHero.slug]" class="page-card">
      <div class="card-content">
        <div class="card-img">
          <img [src]="superHero.images.md" [alt]="superHero.name" />
        </div>
        <div class="card-stats">
          <div class="card-stats-header">
            <h2>{{ superHero.name }}</h2>
            <div
              class="card-chip"
              [ngStyle]="{
                'background-color':
                  superHero.biography.alignment === 'good' ? 'green' : 'red',
              }"
            >
              {{ superHero.biography.alignment }}
            </div>
          </div>
          <div>
            <p>Intelligence: {{ superHero.powerstats.intelligence }}</p>
            <p>Strength: {{ superHero.powerstats.strength }}</p>
            <p>Speed: {{ superHero.powerstats.speed }}</p>
            <p>Power: {{ superHero.powerstats.power }}</p>
          </div>
        </div>
        <div
          class="card-details-btn"
          [ngStyle]="{ 'background-color': backgroundColors[superHero.id] }"
        >
          See Details
        </div>
      </div>
    </div>
  }
</div>
